@font-face {
  font-family: 'Fortune Letters';
  src: url('../assets/fortune-letters.ttf') format('truetype');
}

:root {
  --gameboard-width: min(70vh, 100vw);
  --desktop-gameboard-width: min(79vh, 75vw);
  --gameboard-spaces-width: 6;
  --body-background: #659dbf;
  --title-text: #f2f2f2;
  --icons-grid-container-background: #2d2e2c;
  --icons-grid-background: #474847;
  --icon-text-color: #94eb6b;
  --icon-label-text: #a3a79f;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('../assets/building_grey.png'),
    url('../assets/funky-lines.png');
  background-color: var(--body-background);
  background-size: 100vw, auto;
  background-blend-mode: multiply, multiply;
  background-repeat: no-repeat, repeat;
  background-position: right bottom, top left;
  font-family: 'Fortune Letters', Futura, Geneva, sans-serif;
}

.title {
  display: none;
  color: var(--title-text);
}

.icon-label {
  display: none;
  font-size: 0.4em;
  color: var(--icon-label-text);
}

.main-flex-container {
  display: flex;
  justify-content: center;
}

.main-grid-container {
  display: grid;
  grid-gap: 0.5em;
  width: 100vw;
  height: 100vh;
  grid-template-rows: auto auto auto;
  justify-items: stretch;
  justify-content: center;
  align-items: start;
  align-content: start;
}

.icons-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: start;
  align-content: start;
  justify-items: center;
  background-color: var(--icons-grid-container-background);
  width: 100vw;
  padding: 0.25em 0em;
}

.icons-grid-item {
  background-color: var(--icons-grid-background);
  color: var(--icon-text-color);
  padding: 0.2em;
  border-radius: 3px;
  font-size: 2em;
  text-align: center;
}

.gameboard-grid-container {
  background-image: url('../assets/2p_background.png');
  background-size: 100%;
  background-repeat: repeat;
  border-radius: 5px;
  border: 1px solid #50514f94;
  display: grid;
  justify-content: center;
  width: var(--gameboard-width);
  height: var(--gameboard-width);
  grid-template-columns: repeat(var(--gameboard-spaces-width), 1fr);
  grid-template-rows: repeat(var(--gameboard-spaces-width), 1fr);
  justify-self: center;
}

.dark-square {
  /* background-color: #50514f4d; */
  background-color: #50514f8f;
}

.player-hand-grid-container {
  display: grid;
  width: var(--gameboard-width);
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  justify-self: center;
  background-color: #50514f94;
  border-radius: 20px;
}

.player-hand-grid-item {
  background-image: url('../assets/tile2.png');
  background-size: cover;
  background-color: #fff;
  color: #222;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 3px;
  /* box-shadow: 2px 2px; */
  width: calc((var(--gameboard-width) - 2em) / 6);
  height: calc((var(--gameboard-width) - 2em) / 6);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  padding: 5px;
  justify-content: center;
  -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4),
    inset -2px -2px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4),
    inset -2px -2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4),
    inset -2px -2px 2px rgba(0, 0, 0, 0.4);
}

.card-cell {
  color: #2d2e2c;
  font-size: calc(var(--desktop-gameboard-width) / 13);
  padding: 0px;
}

.card-cell img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: white;
}

/* Popup menus styling */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  display: grid;
  justify-content: stretch;
  justify-items: center;
  align-items: start;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.menu-popup {
  margin: 4em 1em;
  padding: 1em 1em;
  background: #fff;
  border-radius: 5px;
  position: relative;
  width: 95vw;
}

.menu-popup h2 {
  margin-top: 0;
  color: #333;
}

.menu-popup .content {
  max-height: 30%;
  overflow: auto;
}

.content ul {
  margin: 0em;
  padding-left: 1em;
  padding-top: 1em;
}
.content li {
  padding-top: 1em;
}

.menu-popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.menu-popup .close:hover {
  color: #59ffa0;
}

@media (min-width: 600px) {
  .title {
    display: block;
    color: var(--title-text);
  }

  .icon-label {
    display: block;
  }

  .main-grid-container {
    max-width: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto fr;
  }

  .icons-grid-container {
    grid-row: span 2;
    grid-gap: 0.5em;
    grid-template-columns: 1fr;
    justify-self: stretch;
    justify-content: center;
    justify-items: stretch;
    background-color: transparent;
    width: unset;
  }

  .icons-grid-item {
    font-size: 2.5em;
    padding: 0.5em 0em;
  }

  .gameboard-grid-container {
    width: var(--desktop-gameboard-width);
    height: var(--desktop-gameboard-width);
  }

  .player-hand-grid-item {
    width: calc((var(--gameboard-width) - 2em) / 6);
    height: calc((var(--gameboard-width) - 2em) / 6);
    padding: 8px;
  }
  .card-cell {
    color: #2d2e2c;
    font-size: calc(var(--desktop-gameboard-width) / 20);
    padding: 1px;
  }

  .player-hand-grid-container {
    width: var(--desktop-gameboard-width);
  }

  .menu-popup {
    width: 60vw;
  }
}
